@model AlexRogoBeltApp.ViewModel.QuestionViewModel

<script>
    $(document).ready(function () {
        $('#btnSubmit').css("display", "none");
        //$('#btnSubmit').attr("type", "button");
        //$('#btnSubmit').attr("disabled", "disabled");
        $('#btnSubmitProcess').css("display", "block");
        
    });

    function GetProcesses() {
        $.ajax({
            type: "POST", url: "GetAllTemplates", dataType: "json", contentType: "application/json", success: function (res) {
                localStorage.setItem('TemplateResponse', JSON.stringify(res));
                $.each(res, function (data, value) {
                    debugger;
                    $("#ProcessTemplateDropdown").append($("<option></option>").val(value.ID).html(value.ProcessTemplateName));
                });
                var SelectedProcessId = localStorage.getItem('ProcessId');
                if (SelectedProcessId != "undefined") {
                    $('#ProcessTemplateDropdown [value="' + parseInt(SelectedProcessId) + '"]').attr('selected', 'true');
                }
                else { $('#btnSubmitMarketProcess').prop('disabled', true);}

                $("#ProcessTemplateDropdown").append($("<option></option>").val("Custom").html("Custom"));
            },
            error: function (response) {
            }
        });
    }

    function ProcessSelectionChanged(id) {

        $("#steps").empty();
        $("#images").empty();

        if (id == "0") {
            $('#btnAddStep').css("display", "none");
            $('#btnSubmitMarketProcess').prop('disabled', false);
        } else {
            $('#btnAddStep').css("display", "block");
            if (id == "Custom") { return; }
            var data = localStorage.getItem('TemplateResponse');
            var object = JSON.parse(data).find(item => item.ID == id);
            $.each(object.ProcessTemplateSteps, function (key, value) {
                 debugger;
                $('#steps').append('<td id="td_' + value.StepDescription.replace(/ /g, "_") + '" align="center">' + value.StepDescription + '</td>')
                $('#images').append('<td id="a_' + value.StepDescription.replace(/ /g, "_") + '" align="center"><a href="javascript:void(0)" onclick="RenderPopup(' + "'" + value.StepDescription + "'" + ')"><img src="../../Content/Images/circle.png" /></a ></td>')
            });
        }
    }

    function RenderPopup(val) {
        debugger;
        if (val == '') {
            $("#btnDel").attr("disabled", true);
        }
        else {
            $("#btnDel").attr("disabled", false);
        }
        $('#myModal').modal('show');
        $('#TextboxProcessName').val(val);
        $('#myModalLabel').text(val);
        localStorage.setItem("StepName", val);
    }

    function SavePopupChanges() {
        debugger;
        if ($('#TextboxProcessName').val() == "") {
            $('#errorExist').hide();
            $('#errorRequired').show();
        } else {
            if (localStorage.getItem("StepName") === null) {
                var stepName = $('#TextboxProcessName').val();
                if (document.getElementsByTagName("table")[0].rows[0].cells.length > 9) {
                    alert('Maximum 10 steps can be added.');
                    return;
                }
                if ($('#td_' + stepName.replace(/ /g, "_")).length) {
                    $('#errorRequired').hide();
                    $('#errorExist').show();
                    return;
                }
                $('#steps').append('<td id="td_' + stepName.replace(/ /g, "_") + '" align="center">' + stepName + '</td>')
                $('#images').append('<td id="a_' + stepName.replace(/ /g, "_") + '" align="center"><a href="javascript:void(0)" onclick="RenderPopup(' + "'" + stepName + "'" + ')"><img src="../../Content/Images/circle.png" /></a ></td>')
            } else {
                var oldValue = localStorage.getItem("StepName").replace(/ /g, "_");
                var newValue = $('#TextboxProcessName').val();
                if ($('#td_' + newValue.replace(/ /g, "_")).length) {
                    $('#errorRequired').hide();
                    $('#errorExist').show();
                    return;
                }
                $('#td_' + oldValue).html(newValue);
                $('#td_' + oldValue).attr("id", "td_" + newValue.replace(/ /g, "_"));
                $('#a_' + oldValue).attr("onclick", "RenderPopup('" + newValue + "')");
                $('#a_' + oldValue).attr("id", "a_" + newValue.replace(/ /g, "_"));
            }
            ClearPopup();
        }
    }

    function ClearPopup() {
        $('#errorRequired').hide();
        $('#errorExist').hide();
        $('#myModal').modal('hide');
        $('#myModalLabel').text("");
        $('#TextboxProcessName').val("");
        localStorage.removeItem("StepName");
    }

    function DeleteStep(id) {
        $('#td_' + id.replace(/ /g, "_")).remove();
        $('#a_' + id.replace(/ /g, "_")).remove();
        $('#myModal').modal('hide');
    }

    function submitBusinessProcess() {
        debugger;
        var data = GetCellValues();
        $.ajax({
            type: "GET",
            url: "SubmitTemplate",
            data: { data: data },
            dataType: "json",
            contentType: "application/json",
            success: function (res) {

            },
            error: function (response) {
            }
        });
    }

    function GetCellValues() {
        debugger;
        var steps = [];
        var table = document.getElementsByTagName("table")[0].rows[0];
        var processStep = $("#ProcessTemplateDropdown").val();
        for (var r = 0, n = table.cells.length; r < n; r++) {
            steps.push(table.cells[r].innerHTML + ',' + processStep);
        }
        return JSON.stringify(steps);
    }

    function GetProcess(id) {
        $.ajax({
            type: "POST", url: "GetTemplate", data: JSON.stringify({ id: 8 }), dataType: "json", contentType: "application/json", success: function (res) {
                localStorage.setItem('TemplateResponse', JSON.stringify(res));
                var data = localStorage.getItem('TemplateResponse');
                var object = JSON.parse(data);

                $("#steps").empty();
                $("#images").empty();
                $.each(object, function (key, value) {
                    debugger;
                    if (value.split(',').length > 1) {
                        PId = parseInt(value.split(',')[1]);
                        value = value.split(',')[0];
                        localStorage.setItem('ProcessId', JSON.stringify(PId));
                    }
                    $('#steps').prepend('<td align="center">' + value + '</td>')
                    $('#images').prepend('<td align="center"><a href="javascript:void(0)" onclick="RenderPopup(' + "'" + value + "'" + ')"><img src="../../Content/Images/circle.png" /></a ></td>')
                });
            },
            error: function (response) {
            }
        });
    }
</script>

<h2 class="question">
     @Html.DisplayFor(model => model.Introduction)
</h2>

<div class="options radiobtn">
    <h3 class="questionintro">
        @Html.DisplayFor(model => model.Question)
    </h3>
    <ul>
        @{
            if (Model != null)
            {
                for (var i = 0; i < Model.Answers.Count(); i++)
                {
                    <li>
                        <label>
                            @*@{
                                    var transaction = Model.Transactions.FirstOrDefault(x => x.AnswerID == Model.Answers[i].ID);
                                    if (transaction != null)
                                    {
                                        Model.Answers[i].IsSelected = true;
                                        Model.Answers[i].ControlValue = transaction.ControlValue;
                                    }
                                }*@

                            <div class="row">
                                <span class="col-md-3">
                                    @Html.DisplayFor(model => Model.Answers[i].Answers) <span class="text-danger">*</span>
                                </span>
                                <script>GetProcess(8); GetProcesses();</script>

                                <select id="ProcessTemplateDropdown" class="form-control pull-left" style="margin-right:15px;" onchange="ProcessSelectionChanged(this.value)"><option value="0">Select Process</option></select>
                                <button type="button" id="btnAddStep" class="btn btn-info" style="display:none;" onclick="$('#btnDel').attr('disabled', true);$('#myModal').modal('show');"><b>+</b> Add</button>
                            </div>
                            <div class="table-responsive">
                                <table id="tblProcess" style="width:100%; margin-top:15px;">
                                    <tr id="steps"></tr>
                                    <tr><td></td></tr>
                                    <tr id="images"></tr>
                                </table>
                            </div>

                            @Html.Partial("Popup")
                            @{
                                Model.Answers.FirstOrDefault().IsSelected = true;
                            }

                            @Html.HiddenFor(model => Model.Answers[i].ID)
                            @Html.HiddenFor(model => model.LevelID)
                            @Html.HiddenFor(model => Model.Answers[i].QuestionID)
                            @Html.HiddenFor(model => Model.Answers[i].IsSelected)
                            @Html.HiddenFor(model => model.QuestionOrder)
                        </label>
                    </li>
                }
            }
        }
    </ul>
</div>