@model AlexRogoBeltApp.ViewModel.QuestionViewModel

<script>
    function CalcAlgo() {
        debugger;
        ClearCalc();
       /*Annual Revenue*/ $('#Answers_4__ControlValue').val($('#Answers_3__ControlValue').val() * ($('#Answers_6__ControlValue').val() == "" ? 150000 : $('#Answers_6__ControlValue').val()));
       /*Margin*/ $('#Answers_5__ControlValue').val($('#Answers_5__ControlValue').val() == "" ? 40 : $('#Answers_5__ControlValue').val());
       /*Throughput*/ $('#Answers_6__ControlValue').val(Math.round($('#Answers_4__ControlValue').val() * $('#Answers_5__ControlValue').val() / 100));
       /*Inventory*/ $('#Answers_7__ControlValue').val(Math.round((8 / 52) * ($('#Answers_4__ControlValue').val() - $('#Answers_6__ControlValue').val())));
       /*Operating Expense*/ $('#Answers_8__ControlValue').val(Math.round((100 - 5) / 100 * $('#Answers_4__ControlValue').val() - $('#Answers_6__ControlValue').val()));
        // Assumed net profit is 5%. Thst's why 100 - 5 = 95%
    }
    function ClearCalc() {
        $('#Answers_4__ControlValue').val("");
        $('#Answers_5__ControlValue').val("");
        $('#Answers_6__ControlValue').val("");
        $('#Answers_7__ControlValue').val("");
        $('#Answers_8__ControlValue').val("");
    }

</script>


<h2 class="question">
    @Html.DisplayFor(model => model.Introduction)
</h2>

<div class="options radiobtn">
    <h3 class="questionintro">
        @Html.DisplayFor(model => model.Question)
    </h3>
    <ul>
        @{
            if (Model != null)
            {
                for (var i = 0; i < Model.Answers.Count(); i++)
                {
                    <li>
                        <label>
                            @{
                                var transaction = Model.Transactions.FirstOrDefault(x => x.AnswerID == Model.Answers[i].ID);
                                if (transaction != null)
                                {
                                    Model.Answers[i].IsSelected = true;
                                    Model.Answers[i].ControlValue = transaction.ControlValue;
                                }
                                else
                                {
                                    if (Model.Answers[i].Answers == "First Name")
                                    {
                                        Model.Answers[i].ControlValue = Model.Member.FirstName;
                                    }
                                    if (Model.Answers[i].Answers == "Last Name")
                                    {
                                        Model.Answers[i].ControlValue = Model.Member.LastName;
                                    }
                                    if (Model.Answers[i].Answers == "Company")
                                    {
                                        Model.Answers[i].ControlValue = Model.Member.Company;
                                    }
                                }
                            }

                            <span class="col-md-6" style="padding-left:0px;">
                                @Html.DisplayFor(model => Model.Answers[i].Answers)

                                @if (Model.Answers[i].ControlID == 10 || Model.Answers[i].ControlID == 6)
                                {
                                    <span class="text-danger">*</span>
                                }
                            </span>

                            @if (Model.Answers[i].ControlID == 10)
                            {
                                <span class="companyName">
                                    @Html.TextBoxFor(model => Model.Answers[i].ControlValue, new { required = "required", disabled = "disabled", @class = "form-control" })
                                </span>

                                if (Model.Answers[i].ActionID == 4)
                                {
                                    <a href="javascript:void(0)" class="btn-sm changeBtn" onclick="$('#Answers_2__ControlValue').removeAttr('disabled')">Change</a>
                                }

                            }
                            else if (Model.Answers[i].ControlID == 6)
                            {
                                <span class="col-md-6" style="padding-left:0px;">
                                    <div>

                                        @*<span class="input-group-addon">$</span>*@
                                        @Html.TextBoxFor(model => Model.Answers[i].ControlValue, new { onblur = "CalcAlgo()", required = "required", type = "number", @class = "form-control" })

                                    </div>
                                </span>
                            }
                            else if (Model.Answers[i].ControlID == 4)
                            {
                                <span class="col-md-6" style="padding-left:0px;">
                                    <div class="inpt-form">
                                        <div class="input-group pull-left">
                                            <span class="input-group-addon">$</span>
                                            @Html.TextBoxFor(model => Model.Answers[i].ControlValue, new { type = "number", step = ".01", @class = "form-control" })
                                        </div>
                                    </div>
                                </span>
                            }
                            else if (Model.Answers[i].ControlID == 1)
                            {
                                <span class="col-md-6" style="padding-left:0px;">
                                    <div class="inpt-form">
                                        <div class="input-group pull-left">
                                            <span class="input-group-addon" style="padding:6px 10px">%</span>
                                            @Html.TextBoxFor(model => Model.Answers[i].ControlValue, new { type = "number", step = ".01", min = 0, max = 100, @class = "form-control" })
                                        </div>
                                    </div>
                                </span>
                            }

                            @Html.HiddenFor(model => Model.Answers[i].ID)
                            @Html.HiddenFor(model => model.LevelID)
                            @Html.HiddenFor(model => Model.Answers[i].ControlValue)
                            @Html.HiddenFor(model => Model.Answers[i].QuestionID)
                            @Html.HiddenFor(model => Model.Answers[i].IsSelected)
                            @Html.HiddenFor(model => model.QuestionOrder)
                        </label>
                    </li>
                }
            }
        }
    </ul>
</div>