@model AlexRogoBeltApp.ViewModel.QuestionViewModel

<script>
    function GetProcess(id) {
        $.ajax({
            type: "POST", url: "GetTemplate", data: JSON.stringify({ id: 8 }), dataType: "json", contentType: "application/json", success: function (res) {
                localStorage.setItem('TemplateResponse', JSON.stringify(res));

                $.each(res, function (data, value) {
                    $("#ProcessTemplateDropdown").append($("<option></option>").val(value.ID).html(value.ProcessTemplateName));
                });
                debugger;
                ProcessSelected();
            },
            error: function (response) {
            }
        });
    }
    function ProcessSelected() {
        debugger;
        var data = localStorage.getItem('TemplateResponse');
        var object = JSON.parse(data);

        $("#steps").empty();
        $("#images").empty();
        $.each(object.ProcessTemplateSteps, function (key, value) {
            debugger;
            $('#steps').prepend('<td align="center">' + value.StepDescription + '</td>')
            $('#images').prepend('<td align="center"><a href="javascript:void(0)" onclick="RenderPopup(' + "'" + value.StepDescription + "'" + ')"><img src="../../Content/Images/circle.png" /></a ></td>')
        });
    }
    function RenderPopup(val) {
        debugger;
        $("#btnDel").attr('style', 'display:none');
        $("#btnSave").attr('style', 'display:none');
        $('#TextboxProcessName').val(val);
        $('#TextboxProcessName').attr('disabled', true);
        $('#myModalLabel').text(val);
        $('#myModal').modal('show');
    }
</script>

<h2 class="question">
    @Html.DisplayFor(model => model.Introduction)
</h2>

<div class="options radiobtn">
    <h3 class="questionintro">
        @Html.DisplayFor(model => model.Question)
    </h3>
    <ul>
        @{
            if (Model != null)
            {
                for (var i = 0; i < Model.Answers.Count(); i++)
                {
                    <li>
                        <label>
                            @*@{
                                    var transaction = Model.Transactions.FirstOrDefault(x => x.AnswerID == Model.Answers[i].ID);
                                    if (transaction != null)
                                    {
                                        Model.Answers[i].IsSelected = true;
                                        Model.Answers[i].ControlValue = transaction.ControlValue;
                                    }
                                }*@

                            @Html.DisplayFor(model => Model.Answers[i].Answers)

                            <script>GetProcess(8)</script>

                            <div style="margin-left:380px">
                                <div class="text-blue">Throughput</div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-addon">$</span>
                                            <input id="throughput" type="number" step=".01" class="form-control" onclick="$('#throughput').removeAttr('readonly')" readonly required value=123456 />
                                        </div>
                                    </div>
                                    @*<a href="#" class="pull-left" style="font-size:16px; margin-top:5px;">Change</a>*@
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table style="width:100%; margin-top:40px;">
                                    <tr id="steps"></tr>
                                    <tr><td></td></tr>
                                    <tr id="images"></tr>
                                </table>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-5">
                                    <div class=" pull-right">
                                        <div class="text-danger">Inventory</div>
                                        <div style="width:240px;">
                                            <div class="input-group pull-left" style="width:180px;">
                                                <span class="input-group-addon">$</span>
                                                <input id="inventory" type="number" step=".01" class="form-control" onclick="$('#inventory').removeAttr('readonly')" readonly required value=123456>

                                            </div>
                                            @*<a href="#" class="pull-left" style="font-size:16px; margin-left:5px; margin-top:5px;">Change</a>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-md-offset-2">
                                    <div class="">
                                        <div>Operating Expense</div>
                                        <div style="width:240px;">
                                            <div class="input-group pull-left" style="width:180px;">
                                                <span class="input-group-addon">$</span>
                                                <input id="expense" type="number" step=".01" class="form-control" onclick="$('#expense').removeAttr('readonly')" readonly required value=123456>

                                            </div>
                                            @*<a href="#" class="pull-left" style="font-size:16px; margin-left:5px; margin-top:5px;">Change</a>*@
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @Html.Partial("Popup")
                            @{
                                Model.Answers.FirstOrDefault().IsSelected = true;
                            }

                            @Html.HiddenFor(model => Model.Answers[i].ID)
                            @Html.HiddenFor(model => model.LevelID)
                            @Html.HiddenFor(model => Model.Answers[i].QuestionID)
                            @Html.HiddenFor(model => Model.Answers[i].IsSelected)
                            @Html.HiddenFor(model => model.QuestionOrder)
                        </label>
                    </li>
                }
            }
        }
    </ul>
</div>