@model AlexRogoBeltApp.ViewModel.QuestionViewModel


<h2 class="question">
    @Html.DisplayFor(model => model.Introduction)
</h2>

<div class="options radiobtn">
    <h3 class="questionintro">
        @Html.DisplayFor(model => model.Question)
    </h3>
    <ul>
        @{
            if (Model != null)
            {
                for (var i = 0; i < Model.Answers.Count(); i++)
                {
                    <li>
                        <label>
                            @{
                                var transaction = Model.Transactions.FirstOrDefault(x => x.AnswerID == Model.Answers[i].ID);
                                if (transaction != null)
                                {
                                    Model.Answers[i].IsSelected = true;
                                }
                            }

                            @Html.RadioButton("grp", Model.Answers[i].ID, Model.Answers[i].IsSelected, new { @onchange = "ShowError('Answers_" + i + "__IsSelected');" })

                            @Html.DisplayFor(model => Model.Answers[i].Answers)

                            @Html.HiddenFor(model => Model.Answers[i].ID)
                            @Html.HiddenFor(model => model.LevelID)
                            @Html.HiddenFor(model => Model.Answers[i].QuestionID)
                            @Html.HiddenFor(model => Model.Answers[i].IsSelected)
                            @Html.HiddenFor(model => model.QuestionOrder)
                        </label>
                    </li>
                }

                for (var i = 0; i < Model.Answers.Count(); i++)
                {
                    if (Model.Answers[i].ErrorMSG != null)
                    {
                        @Html.Label(Model.Answers[i].ErrorMSG, Model.Answers[i].ErrorMSG, new { @id = "lblError" + i, style = "display:none;color:red; font-size:14px;" })
                    }
                }
            }
        }
    </ul>
</div>

<script>
    function ShowError(controlId) {
        debugger;
        if (controlId == "Answers_1__IsSelected") {
            $('#lblError1').css("display", "block");
            $('#lblError2').css("display", "none");
        }
        else if (controlId == "Answers_2__IsSelected") {
            $('#lblError2').css("display", "block");
            $('#lblError1').css("display", "none");
        } else {
            $('#lblError1').css("display", "none");
            $('#lblError2').css("display", "none");
        }
    }
</script>