<script>
    function GetProcess(id) {
        $.ajax({
            type: "POST", url: "GetTemplate", data: JSON.stringify({ id: 8 }), dataType: "json", contentType: "application/json", success: function (res) {
                localStorage.setItem('TemplateResponse', JSON.stringify(res));
                var data = localStorage.getItem('TemplateResponse');
                var object = JSON.parse(data);
                $("#steps").empty();
                $("#images").empty();
                $.each(object, function (key, value) {
                    debugger;
                    $('#steps').prepend('<td align="center">' + value + '</td>')
                    key = key + 1;
                    //$('#images').prepend('<td align="center"><a href="javascript:void(0)" onclick="RecordStep(' + "'" + 'step' + key + "'" + ')"><img id="step'+key+'" src="../../Content/Images/circle.png" /></a ></td>')
                    value = value.replace(/ /g, "___");
                    value = value.replace("/", "__");
                    
                    $('#images').prepend('<td align="center"><a href="javascript:void(0)" onclick="RecordStep(' + "'" + value + "'" + ')"><img id="' +value + '" src="../../Content/Images/circle.png" /></a ></td>')
                });
            },
            error: function (response) {
            }
        });
    }
    var steps = [];
    $(document).ready(function () {
        $('#btnSubmitProcess').css("display", "none");
        $('#btnSubmit').css("display", "none");
        $('#btnSubmitMarketProcess').css("display", "block");
        $("#btnSubmit").attr('value', 'Finish');
        for (var i = 1; i <= 7; i++) {
            if ($('#step' + i).attr('src').split('/')[4] == "circle-RED.png") {
                steps.push('step' + i);
            }
        }
    });
  
    function RecordStep(step) {
        debugger;
        stepId = '#' + step
        alert(step);
        step = step.replace(/___/g, ' ');//for removing ___
        step = step.replace(/__/g, '/');// for removing __  and placing /
        if ($(stepId).attr('src').split('/')[4] == "circle.png") {
            $(stepId).attr("src", "../../Content/Images/circle-RED.png");         
            steps.push(step);
        }
        else {
            $(stepId).attr("src", "../../Content/Images/circle.png");
            steps.pop(step);
        }
        return JSON.stringify(steps);
    }

    function submitMarketStep() {
        debugger;
        var data = steps.toString();
        // var data = 'ste';
        $.ajax({
            type: "GET",
            url: "SubmitMarketSteps",
            //data: JSON.stringify({ data: data }),
            data: { data: data },
            dataType: "json",
            contentType: "application/json",
            success: function (res) {

            },
            error: function (response) {
            }
        });
    }

    function GetCellValues() {
        debugger;
        var steps = [];
        var table = document.getElementsByTagName("table")[0].rows[0];
        for (var r = 0, n = table.cells.length; r < n; r++) {
            steps.push(table.cells[r].innerHTML);
        }
        return JSON.stringify(steps);
    }

</script>

@model AlexRogoBeltApp.ViewModel.QuestionViewModel

<h2 class="question">
    @Html.DisplayFor(model => model.Introduction)
</h2>

<div class="center-block">
    <div class="row mt-3">
        <div class="options">

            <ul>
                <li>
                    <label>
                        <div class="embed-responsive embed-responsive-16by9">
                            <div class="table-responsive">
                                <script>GetProcess(8)</script>
                                <div class="table-responsive">
                                    <table style="width:100%; margin-top:15px;">
                                        <tr id="steps"></tr>
                                        <tr><td></td></tr>
                                        <tr id="images"></tr>
                                    </table>
                                </div>
                               
                            </div>
                        </div>
                    </label>
                </li>
            </ul>
            
        </div>

    </div>
   
</div>

@{Model.Answers.FirstOrDefault().IsSelected = true;}

@Html.HiddenFor(model => Model.Answers[0].ID)
@Html.HiddenFor(model => model.LevelID)
@Html.HiddenFor(model => Model.Answers[0].QuestionID)
@Html.HiddenFor(model => Model.Answers[0].IsSelected)
@Html.HiddenFor(model => model.QuestionOrder)