@model AlexRogoBeltApp.ViewModel.QuestionViewModel

<script>
    function GetProcess(id) {
        $.ajax({
            type: "POST", url: "GetTemplate", data: JSON.stringify({ id: 8 }), dataType: "json", contentType: "application/json", success: function (res) {
                localStorage.setItem('TemplateResponse', JSON.stringify(res));
                var data = localStorage.getItem('TemplateResponse');
                var object = JSON.parse(data);

                $("#steps").empty();
                $("#images").empty();
                $.each(object, function (key, value) {
                    $('#steps').prepend('<td align="center">' + value + '</td>')
                    $('#images').prepend('<td align="center"><a href="javascript:void(0)" onclick="RenderPopup(' + "'" + value + "'" + ')"><img src="../../Content/Images/circle.png" /></a ></td>')
                });
            },
            error: function (response) {
            }
        });
    }
    function GetCalculation() {
        $.ajax({
            type: "POST", url: "GetCalculations", dataType: "json", contentType: "application/json", success: function (res) {
                var currency = "$";
                $.each(res, function (key, value) {
                    if (value.Answers == "Throughput") {
                        $('#throughput').text(currency + value.Calculations);
                    } else if (value.Answers == "Inventory") {
                        $('#inventory').text(currency + value.Calculations);
                    } else if (value.Answers == "Operating Expense") {
                        $('#expense').text(currency + value.Calculations);
                    }
                });
            },
            error: function (response) {
            }
        });
    }
    function RenderPopup(val) {
        debugger;
        $("#btnDel").attr('style', 'display:none');
        $("#btnSave").attr('style', 'display:none');
        $('#TextboxProcessName').val(val);
        $('#TextboxProcessName').attr('disabled', true);
        $('#myModalLabel').text(val);
        $('#myModal').modal('show');
    }

    $(document).ready(function () {
        $("#btnSubmit").attr('value', 'Finish');
    });
</script>

<h2 class="question">
    @Html.DisplayFor(model => model.Introduction)
</h2>

<div class="options radiobtn">
    <h3 class="questionintro">
        @Html.DisplayFor(model => model.Question)
    </h3>
    <ul>
        @{
            if (Model != null)
            {
                for (var i = 0; i < Model.Answers.Count(); i++)
                {
                    <li>
                        <label>
                            @*@{
                                    var transaction = Model.Transactions.FirstOrDefault(x => x.AnswerID == Model.Answers[i].ID);
                                    if (transaction != null)
                                    {
                                        Model.Answers[i].IsSelected = true;
                                        Model.Answers[i].ControlValue = transaction.ControlValue;
                                    }
                                }*@

                            @Html.DisplayFor(model => Model.Answers[i].Answers)

                            <script>GetProcess(8)</script>
                            <script>GetProcess(8); GetCalculation();</script>
                            <div class="throughput">
                                <div class="text-blue">Throughput</div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="input-group">
                                            <label id="throughput"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table style="width:100%; margin-top:15px;">
                                    <tr id="steps"></tr>
                                    <tr><td></td></tr>
                                    <tr id="images"></tr>
                                </table>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-5 col-xs-12">
                                    <div class="pull-right pull-none-sm">
                                        <div class="text-danger">Inventory</div>
                                        <div style="width:240px;">
                                            <div class="input-group pull-left" style="width:180px;">
                                                <label id="inventory"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-md-offset-2">
                                    <div class="mt-sm-2">
                                        <div>Operating Expense</div>
                                        <div style="width:240px;">
                                            <div class="input-group pull-left" style="width:180px;">
                                                <label id="expense"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @Html.Partial("Popup")
                            @{
                                Model.Answers.FirstOrDefault().IsSelected = true;
                            }

                            @Html.HiddenFor(model => Model.Answers[i].ID)
                            @Html.HiddenFor(model => model.LevelID)
                            @Html.HiddenFor(model => Model.Answers[i].QuestionID)
                            @Html.HiddenFor(model => Model.Answers[i].IsSelected)
                            @Html.HiddenFor(model => model.QuestionOrder)
                        </label>
                    </li>
                }
            }
        }
    </ul>
</div>