<script>
    function GetCalculation() {
        $.ajax({
            type: "POST", url: "GetCalculations", dataType: "json", contentType: "application/json", success: function (res) {
                var currency = "$";
                $.each(res, function (key, value) {
                    if (value.Answers == "Throughput") {
                        $('#throughput').text(currency + value.Calculations);
                    } else if (value.Answers == "Inventory") {
                        $('#inventory').text(currency + value.Calculations);
                    } else if (value.Answers == "Operating Expense") {
                        $('#expense').text(currency + value.Calculations);
                    }
                });
            },
            error: function (response) {
            }
        });
    }
    function GetProcess(id) {
        $.ajax({
            type: "POST", url: "GetTemplate", data: JSON.stringify({ id: 8 }), dataType: "json", contentType: "application/json", success: function (res) {
                localStorage.setItem('TemplateResponse', JSON.stringify(res));
                var data = localStorage.getItem('TemplateResponse');
                var object = JSON.parse(data);
                $("#steps").empty();
                $("#images").empty();
                $.each(object, function (key, value) {
                    debugger;

                    if (value.split(',').length > 1) {
                        value = value.split(',')[0];
                    }
                    $('#steps').prepend('<td align="center">' + value + '</td>')
                    key = key + 1;
                    //$('#images').prepend('<td align="center"><a href="javascript:void(0)" onclick="RecordStep(' + "'" + 'step' + key + "'" + ')"><img id="step'+key+'" src="../../Content/Images/circle.png" /></a ></td>')
                    value = value.replace(/ /g, "___");
                    value = value.replace("/", "__");

                    $('#images').prepend('<td align="center"><a href="javascript:void(0)"  onclick="RecordStep(' + "'" + value + "'" + ')"><img id="' + value + '" class="imgcircle" src="../../Content/Images/circle.png" /></a ></td>')
                });
            },
            error: function (response) {
            }
        });
    }

    function GetSelectedProcess(id) {
        $.ajax({
            type: "POST", url: "GetTemplate", data: JSON.stringify({ id: 20 }), dataType: "json", contentType: "application/json", success: function (res) {
                debugger;
                $.each(res, function (key, value) {
                    debugger;
                    if (value == "markert-gold.png") {
                        $("#marketImg").attr("src", "../../Content/Images/markert-red.png");
                    }
                    else {
                        value = value.replace(/ /g, "___");
                        value = value.replace("/", "__");
                        $('#' + value).attr("src", "../../Content/Images/circle-RED.png");

                    }
                    $('#btnSubmitMarketProcess').prop('disabled', false);
                });
            },
            error: function (response) {
            }
        });
    }
    var steps = [];
    $(document).ready(function () {
        $('#btnSubmitProcess').css("display", "none");
        $('#btnSubmit').css("display", "none");
        $('#btnSubmitMarketProcess').css("display", "block");
       // $("#btnSubmitMarketProcess").attr('value', 'Finish');
        //$("#btnSubmitMarketProcess").attr('disable', 'True');
        $('#btnSubmitMarketProcess').prop('disabled', true);
        GetSelectedProcess();
    });

    function ManageSelection() {
        for (var index = 0; index < steps.length; ++index) {

            var Value = steps[index];

            if (Value == "markert-gold.png") {
                steps.splice(index, 1);
                $("#marketImg").attr("src", "../../Content/Images/markert-gold.png");
                break;
            }
        }
    }


    function RecordStep(step) {
        debugger;

        // ManageSelection();

        //delete steps
        stepId = '#' + step
        steps = [];
        step = step.replace(/___/g, ' ');//for removing ___
        step = step.replace(/__/g, '/');// for removing __  and placing /
        if ($(stepId).attr('src').split('/')[4] == "circle.png") {
            $(".imgcircle").attr("src", "../../Content/Images/circle.png");
            $("#marketImg").attr("src", "../../Content/Images/markert-gold.png");
            $(stepId).attr("src", "../../Content/Images/circle-RED.png");
            steps.push(step);
        }
        else {
            $(stepId).attr("src", "../../Content/Images/circle.png");
             steps.pop(step);
        }
        debugger;
        //steps.push(step);
        if (steps.length > 0) {
            $('#btnSubmitMarketProcess').prop('disabled', false);
        }
        else {
            $('#btnSubmitMarketProcess').prop('disabled', true);
        }


        return JSON.stringify(steps);
    }


    function RecordMarket() {

        debugger;

        if ($("#marketImg").attr('src').split('/')[$("#marketImg").attr('src').split('/').length - 1] == "markert-gold.png") {
            $("#marketImg").attr("src", "../../Content/Images/markert-red.png");
            steps = [];

            $(".imgcircle").attr("src", "../../Content/Images/circle.png");
            steps.push("markert-gold.png");
        }
        else {
            $("#marketImg").attr("src", "../../Content/Images/markert-gold.png");
            steps.pop("markert-red.png");
        }
        if (steps.length > 0) {
            $('#btnSubmitMarketProcess').prop('disabled', false);
        }
        else {
            $('#btnSubmitMarketProcess').prop('disabled', true);
        }
    }
    $('#marketImg').click(function () {
        alert();
        $("#bg").attr('src', "img/picture1.jpg");
        return false;
    });
    function submitMarketStep() {
        debugger;
        var data = steps.toString();
        // var data = 'ste';
        $.ajax({
            type: "GET",
            url: "SubmitMarketSteps",
            //data: JSON.stringify({ data: data }),
            data: { data: data },
            dataType: "json",
            contentType: "application/json",
            success: function (res) {

            },
            error: function (response) {
            }
        });
    }

    function GetCellValues() {
        debugger;
        var steps = [];
        var table = document.getElementsByTagName("table")[0].rows[0];
        for (var r = 0, n = table.cells.length; r < n; r++) {
            steps.push(table.cells[r].innerHTML);
        }
        return JSON.stringify(steps);
    }

</script>

@model AlexRogoBeltApp.ViewModel.QuestionViewModel

<h2 class="question">
    @Html.DisplayFor(model => model.Introduction)
</h2>

<div class="center-block">
    <div class="row mt-3">
        <div class="options">

            <ul>
                <li>
                    <label>

                        <script>GetCalculation();</script>
                        <div class="throughput">

                            <div class="text-blue">Throughput</div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="input-group" style="margin:0 auto;">
                                        <label id="throughput"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="table-responsive">
                                <script>GetProcess(8); GetSelectedProcess();</script>
                                <div class="table-responsive">
                                    <table style="width:100%; margin-top:15px;">
                                        <tr id="steps"></tr>
                                        <tr><td></td></tr>
                                        <tr id="images"></tr>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                <div class="tc" style="width:180px; margin: 0 auto;">
                                    <div class="text-danger">Inventory</div>
                                    <div style="width:240px;">
                                        <div class="input-group pull-left" style="width:180px;">
                                            <label id="inventory"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                <div class="tc" style="width:180px; margin: 0 auto;">
                                    <div>Operating Expense</div>
                                    <div style="width:240px;">
                                        <div class="input-group pull-left" style="width:180px;">
                                            <label id="expense"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                            </div>
                        </div>
                    </label>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="market"><img id="marketImg" onclick="RecordMarket()" src="~/Content/Images/markert-gold.png" /></div>
        </div>
    </div>
    @*<div class="pull-right" style="margin-right:100px; margin-top:40px;">
            <img id="marketImg" onclick="RecordMarket()" src="~/Content/Images/markert-gold.png" />
        </div>*@
</div>

@{Model.Answers.FirstOrDefault().IsSelected = true;}

@Html.HiddenFor(model => Model.Answers[0].ID)
@Html.HiddenFor(model => model.LevelID)
@Html.HiddenFor(model => Model.Answers[0].QuestionID)
@Html.HiddenFor(model => Model.Answers[0].IsSelected)
@Html.HiddenFor(model => model.QuestionOrder)