
@model AlexRogoBeltApp.ViewModel.QuestionViewModel

<h2 class="question">
    @Html.DisplayFor(model => model.Introduction)
</h2>

<div class="containr">
    <div class="row mt-3">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="label_head">The Pareto diagram.</div>
                    <p>
                        This concept is related to the 80/20 principle where you typically find that one or two items make up for 80% of your “Murphy”
                        and downtime items. Start by identifying your top 5 Pareto items and focus your improvement on #1 and #2 only. If starvation
                        from upstream machines/departments is a concern just do your best – your next Green belt will offer a full solution.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="graph"><img src="~/Content/Images/slide19_1.png" alt="" /></div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="label_head">The Standardized Work chart.</div>
                    <p>
                        This Lean Manufacturing tool makes it simple to visually see the items that take up the most time in a certain process. This
                        Tool comes in handy for analyzing set-up times or shift change-over times.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="graph"><img src="~/Content/Images/slide19_2.png" alt="" /></div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="label_head">The Single Minute Exchange of Die (SMED) process.</div>
                    <p>
                        This concept is used for set-up or tool change over time reduction. It first identifies any opportunities for doing some of the
                        set-up work while the machine is still running (external) and then moves the focus on improving the remaining internal tasks.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="graph"><img src="~/Content/Images/slide19_3.png" alt="" /></div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="label_head">Plus many others.</div>
                    <p>
                        These include among others, Ishikawa (fish bone) diagrams, Current Reality trees, Conflict Clouds, Spaghetti diagrams, Kaizen events and many more.
                        Important: do NOT let the tools delay your efforts to improve the Constraint Utilization. Often identifying your #1 and #2 Pareto items is enough
                        to make a good improvement.
                    </p>
                </div>
                
            </div>
        </div>
    </div>
</div>



@{
    Model.Answers.FirstOrDefault().IsSelected = true;
}

@Html.HiddenFor(model => Model.Answers[0].ID)
@Html.HiddenFor(model => model.LevelID)
@Html.HiddenFor(model => Model.Answers[0].QuestionID)
@Html.HiddenFor(model => Model.Answers[0].IsSelected)
@Html.HiddenFor(model => model.QuestionOrder)
