@model AlexRogoBeltApp.ViewModel.QuestionViewModel


<script>
    function CalcAlgo()
    {
        debugger;
    
        ClearCalc();
        //var value2 = $('#Answers_2__ControlValue').val();
        //var value1 = $('#Answers_1__ControlValue').val();
        //var value3 = $('#Answers_3__ControlValue').val();
        //var value = $('#Answers_0__ControlValue').val();
        
        var value=  $('#ddlhours').find("option:selected").text();
        
        var Answers_3__ControlValue = value.slice(0, -6);
    
        $('#Answers_3__ControlValue').val(Math.round($('#Answers_1__ControlValue').val() / (Answers_3__ControlValue * $('#Answers_2__ControlValue').val())*100)/100);
       
     
       /* var result = Math.round(value * 100) / 100 */ //returns 28.45 this method is used to round the fig of Answer_3_Control Value
    }
 
    function ClearCalc() {
        debugger;
        $('#Answers_3__ControlValue').val("");
    
       
    }

   


</script>

<h2 class="question">
    @Html.DisplayFor(model => model.Introduction)
</h2>


<div class="containr">
    <div class="row mt-3">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rogo_level">
            <ul>
                @{
                    if (Model != null)
                    {
                        for (var i = 0; i < Model.Answers.Count(); i++)
                        {
                            <li>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        @{
                                            var transaction = Model.Transactions.FirstOrDefault(x => x.AnswerID == Model.Answers[i].ID);
                                            if (transaction != null)
                                            {
                                                Model.Answers[i].IsSelected = true;
                                                Model.Answers[i].ControlValue = transaction.ControlValue;
                                            }
                                        }
                                        <span>
                                            @Html.DisplayFor(model => Model.Answers[i].Answers)

                                            @if (Model.Answers[i].ControlID == 6)
    {
                                        <span class="text-danger">*</span>

}
                                        </span>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        @if (Model.Answers[i].ControlID == 20)
    {

                               
                                        <div>
                                            @*<select id="ddlTimePeriod" class="form-control">
                                                            <option value="8">8 Hours</option>
                                                            <option value="12">12 Hours</option>
                                                        </select>*@
                                            @Html.DropDownListFor(model => model.Answers[i].ControlValue,new SelectList(new string[] { "8 Hours", "12 Hours" }), Model.Answers[i].ControlValue,new {@id="ddlhours", @class = "form-control pull-left" })
                                        </div>

}
else if (Model.Answers[i].ControlID == 6)
{

                                    <div class="inpt-form">
                                        <div class="input-group pull-left">
                                            <span class="input-group-addon specf">%</span>
                                            @Html.TextBoxFor(model => Model.Answers[i].ControlValue, new { step = ".01", required = "required", type = "number", @class = "form-control addon_input" })

                                        </div>
                                    </div>

}
else if (Model.Answers[i].ControlID == 9)
{

                                    <div class="inpt-form">


                                        @Html.TextBoxFor(model => Model.Answers[i].ControlValue, new { onblur = "CalcAlgo()", required = "required", type = "number", step = ".01", @class = "form-control" })

                                    </div>

}
else if (Model.Answers[i].ControlID == 11)
{

                                    <div class="inpt-form">


                                        @Html.TextBoxFor(model => Model.Answers[i].ControlValue, new { type = "number", required = "required", step = ".01", value = "0.00", @class = "form-control" })

                                    </div>

}
                                    </div>
                                </div>

                              
                                @Html.HiddenFor(model => Model.Answers[i].ID)
                                @Html.HiddenFor(model => model.LevelID)
                                @Html.HiddenFor(model => Model.Answers[i].ControlValue)
                                @Html.HiddenFor(model => Model.Answers[i].QuestionID)
                                @Html.HiddenFor(model => Model.Answers[i].IsSelected)
                                @Html.HiddenFor(model => model.QuestionOrder)

                            </li>
                        }
                    }
                }
            </ul>
        </div>
    </div>
</div>











