@model AlexRogoBeltApp.ViewModel.QuestionViewModel

<script>
    $(document).ready(function () {
        $('#btnSubmit').css("display", "block");
        $('#btnSubmitProcess').css("display", "none");
    });
</script>

<h2 class="question">
    @Html.DisplayFor(model => model.Introduction)
</h2>

<div class="center-block">
    <div class="row mt-3">
        <div class="col-md-6 col-md-offset-3">
            <div class="embed-responsive embed-responsive-16by9">
                <video width="600" controls="controls" poster="~/content/images/YellowBelt_Slide6_Video.png" class="center-block">
                    <source src="~/Content/Videos/YellowBelt_Slide6_Video.mp4" type="video/mp4" />
                    Your browser does not support HTML5 video.
                </video>
            </div>
        </div>

    </div>
    <div class="text-center mt-1" style="color: #17de17; font-weight:600;">
        From The Goal movie: available from Goldratt’s Marketing Group <a href="https://www.toc-goldratt.com/en/product/the-goal-movie-how-to-version" target="_blank">here</a>.
    </div>
</div>

@{
    Model.Answers.FirstOrDefault().IsSelected = true;
}

@Html.HiddenFor(model => Model.Answers[0].ID)
@Html.HiddenFor(model => model.LevelID)
@Html.HiddenFor(model => Model.Answers[0].QuestionID)
@Html.HiddenFor(model => Model.Answers[0].IsSelected)
@Html.HiddenFor(model => model.QuestionOrder)