@model AlexRogoBeltApp.ViewModel.QuestionViewModel

<script>
    function GetProcess(id) {
        $.ajax({
            type: "POST", url: "GetTemplate", data: JSON.stringify({ id: 8 }), dataType: "json", contentType: "application/json", success: function (res) {
                localStorage.setItem('TemplateResponse', JSON.stringify(res));

                $.each(res, function (data, value) {
                    $("#ProcessTemplateDropdown").append($("<option></option>").val(value.ID).html(value.ProcessTemplateName));
                });
                debugger;
                ProcessSelected();
            },
            error: function (response) {
            }
        });
    }
    function ProcessSelected() {
        debugger;
        var data = localStorage.getItem('TemplateResponse');
        var object = JSON.parse(data);

        $("#steps").empty();
        $("#images").empty();
        $.each(object.ProcessTemplateSteps, function (key, value) {
            debugger;
            $('#steps').prepend('<td align="center">' + value.StepDescription + '</td>')
            $('#images').prepend('<td align="center"><a href="javascript:void(0)" onclick="RenderPopup(' + "'" + value.StepDescription + "'" + ')"><img src="../../Content/Images/circle.png" /></a ></td>')
        });
    }
    function RenderPopup(val) {
        debugger;
        $('#myModal').modal('show');
        $('#myModalLabel').text(val);
        $('#popupbody').text('This is ' + val + ' description.');

    }
</script>

<h2 class="question">
    @Html.DisplayFor(model => model.Introduction)
</h2>

<div class="options radiobtn">
    <h3 class="questionintro">
        @Html.DisplayFor(model => model.Question)
    </h3>
    <ul>
        @{
            if (Model != null)
            {
                for (var i = 0; i < Model.Answers.Count(); i++)
                {
                    <li>
                        <label>
                            @*@{
                                    var transaction = Model.Transactions.FirstOrDefault(x => x.AnswerID == Model.Answers[i].ID);
                                    if (transaction != null)
                                    {
                                        Model.Answers[i].IsSelected = true;
                                        Model.Answers[i].ControlValue = transaction.ControlValue;
                                    }
                                }*@

                            @Html.DisplayFor(model => Model.Answers[i].Answers)

                            <script>GetProcess(8)</script>
                            <br />
                            <div class="table-responsive">
                                <table style="width:100%; margin-top:15px;">
                                    <tr id="steps"></tr>
                                    <tr><td></td></tr>
                                    <tr id="images"></tr>
                                </table>
                            </div>
                            @Html.Partial("Popup")
                            @{
                                Model.Answers.FirstOrDefault().IsSelected = true;
                            }

                            @Html.HiddenFor(model => Model.Answers[i].ID)
                            @Html.HiddenFor(model => model.LevelID)
                            @Html.HiddenFor(model => Model.Answers[i].QuestionID)
                            @Html.HiddenFor(model => Model.Answers[i].IsSelected)
                            @Html.HiddenFor(model => model.QuestionOrder)
                        </label>
                    </li>
                }
            }
        }
    </ul>
</div>