@model AlexRogoBeltApp.ViewModel.Steps
@{    ViewBag.Title = "Dashboard";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TOCICO</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
    <link href="~/Content/Memberstyle.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/responsive.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script>
        function RenderErrorPopup() {
            $('#myModal').modal('show');
            $('#errMsg').text('@TempData["ErrorMsg"]');
        };
    </script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    
    

</head>

<body>
    @Html.Partial("~/Views/Shared/ErrorPopup.cshtml")
    @*<nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="images/TOCICOBannerLogoGoldHorizontal.gif" style="height:70px;"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right mt-1">
                        <li><a href="#"><i class="far fa-bell"></i></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Vineet Gupta<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="profile.html"><i class="fas fa-user"></i> Profile</a></li>
                                <li><a href="#"><i class="fas fa-comment-alt"></i> Message</a></li>
                                <li><a href="#"><i class="fas fa-cog"></i> Setting</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"><i class="fas fa-power-off"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>*@
    <div>
        <div class="fll_wdth ">
            @if (TempData["ErrorMsg"] != null)
            {
                <script>RenderErrorPopup();</script>
            }
            <!-- <h4 class="pull-left mt-25">You are on yellow belt levels.</h4> -->
        </div>

        <div class="toolbar-out">
            <div class="container">
                <div id="itoolbar_bg">
                    <div id="itoolbar" class="col-md-12  text-right">

                        <a href="@Url.Action("Logout", "Questionnaire", new { MemberId = Request.QueryString["MemberId"] })">Sign Out</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="header-out">
            <div class="container">
                <div class="header">
                    <script type="text/javascript">
                        WebFontConfig = {
                            google: { families: ['Open+Sans:400,300,600,700,800:latin', 'Roboto+Condensed:400,300,700:latin'] }
                        };
                        (function () {
                            var wf = document.createElement('script');
                            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
                            wf.type = 'text/javascript';
                            wf.async = 'true';
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(wf, s);
                        })();</script>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <a class="logo" href="/" target="_parent" style="color:#000;">
                                <img src="~/Content/Images/TOCICOBannerLogoGoldHorizontal.gif" />
                            </a>
                            <i class="head_sub_new">"Bringing People and TOC Knowledge Together Globally"</i>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div id="social">
                                <a class="fb" href="https://www.facebook.com/Theory-of-Constraints-International-Certification-Organization-98918483549/?ref=hl" target="_blank"><img border="0" src="~/Content/Images/facebook.png"></a>
                                <a class="li" href="https://www.linkedin.com/company/tocico?trk=nav_account_sub_nav_company_admin" target="_blank"><img border="0" src="~/Content/Images/linkedin.png"></a>
                                <a class="tw" href="https://twitter.com/TOCICO" target="_blank"><img border="0" src="~/Content/Images/twitter.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="header-out">
                <div class="container">
                    <div id="header" class="clearfix">
                        <script type="text/javascript">
                            WebFontConfig = {
                                google: { families: ['Open+Sans:400,300,600,700,800:latin', 'Roboto+Condensed:400,300,700:latin'] }
                            };
                            (function () {
                                var wf = document.createElement('script');
                                wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
                                wf.type = 'text/javascript';
                                wf.async = 'true';
                                var s = document.getElementsByTagName('script')[0];
                                s.parentNode.insertBefore(wf, s);
                            })(); </script>

                        <a class="logo" href="/" target="_parent" style="color:#000; float:left">
                            <img src="~/Content/Images/TOCICOBannerLogoGoldHorizontal.gif" />
                        </a>
                        <i class="head-sub">"Bringing People and TOC Knowledge Together Globally"</i>



                        <div id="social">
                            <a class="fb" href="https://www.facebook.com/Theory-of-Constraints-International-Certification-Organization-98918483549/?ref=hl" target="_blank"><img border="0" src="~/Content/Images/facebook.png"></a>
                            <a class="li" href="https://www.linkedin.com/company/tocico?trk=nav_account_sub_nav_company_admin" target="_blank"><img border="0" src="~/Content/Images/linkedin.png"></a>
                            <a class="tw" href="https://twitter.com/TOCICO" target="_blank"><img border="0" src="~/Content/Images/twitter.png"></a>
                        </div>


                    </div>
                </div>
            </div>*@
        <div style="background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(80, 80, 80, 1) 0%, rgba(0, 0, 0, 1) 100%) repeat fixed 0 0;">
            <div class="container ">
                <div class="box-wrapper" style="padding-top:100px;padding-bottom: 114px;">

                    <ul class="nav nav-tabs nav-justified beltlevels" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#yellow" class="yellow" role="tab" data-toggle="tab">
                                <label class="label label-warning">1</label> Yellow Belt
                            </a>
                        </li>

                        <li role="presentation" class="disabled">
                            <a href="#green" class="green" role="tab">
                                <label class="label label-success">2</label> Green Belt
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#black" class="black" role="tab">
                                <label class="label label-default">3</label> Black Belt
                            </a>
                        </li>

                        <li role="presentation" class="disabled">
                            <a href="#tocexpert" class="expert" role="tab">
                                <label class="label label-primary">4</label> TOC Expert
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="yellow">
                            <br />
                            <h4 class="mt-25">Yellow Belt Level</h4>
                            <p class="mt-10">
                                For many years TOCICO’s certification program was at the Jonah level - only within
                                reach of a
                                few of your top talent, leaving most of your people without a practical development ladder
                                during their TOC journey. More importantly, it was focused on testing TOC knowledge, not
                                implementation skill.
                            </p>

                            <h4 class="mt-25">The Alex Rogo Belt Levels will:</h4>
                            <ul>
                                <li>
                                    Contain the minimum knowledge and video materials required to guide a person who has read
                                    The Goal to complete a TOC implementation using the five focusing steps.
                                </li>
                                <li>
                                    Have interactive content to allow a manager to enter their implementation details to be
                                    guided as they progress through the five focusing steps.
                                </li>
                                <li>
                                    Provide results based criteria for each step and set financial improvements which are
                                    simple to understand for people at all levels in your organization.
                                </li>
                            </ul>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="green">2</div>
                        <div role="tabpanel" class="tab-pane" id="black">3</div>
                        <div role="tabpanel" class="tab-pane" id="tocexpert">4</div>
                    </div>
                    @{
                        int stepsRemaining = Model.TotalSetps - Model.SetpsCompleted;
                        decimal stepsRemainingPer = (Convert.ToDecimal(stepsRemaining) * 100) / Convert.ToDecimal(Model.TotalSetps);
                        decimal stepsCompletedPer = (Convert.ToDecimal(Model.SetpsCompleted) / Model.TotalSetps) * 100;

                    }
                    <div class="row">
                        <div class="col-lg-5 col-md-12 col-sm-12">
                            <div class="chart">
                                <div class="donat_text"><span>@Model.TotalSetps</span> steps</div>
                                <div id="chartContainer"></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="strip_con">
                                <div class="strip">
                                    <div class="num_it">@Model.SetpsCompleted</div>
                                    Step Completed
                                </div>
                                <div class="strip">
                                    <div class="num_it2">@stepsRemaining</div>
                                    Step remain to complete
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>


                        @*<h3 class="text-center">You're on yellow belt</h3>*@
                        <br>
                        <div class="text-center">
                            @{
                                int Memberid = Convert.ToInt32(Request.QueryString["MemberId"]);

                            }
                            <a id="startButton" href="/Questionnaire/GetStarted?MemberId=@Memberid" class="mt-2 btn btn-success btn-lg"
                               @{ if (TempData["ErrorMsg"] != null) { @: style="display:none"
                               } else { @: style="display:inline"
                               } }>Get Started</a>


                            @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>*@
                            @*<a href="@Url.Action("GetStarted", "Questionnaire")" class="mt-2 btn btn-success btn-lg">
                                    Get
                                    Started
                                </a>*@

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div id="foot-social">
            <span style="background-color: #ffffff00;">
                <a class="fb" href="https://www.facebook.com/Theory-of-Constraints-International-Certification-Organization-98918483549/?ref=hl" target="_blank">
                    <img alt="" src="/graphics/facebook-w.png" style="border-width: 0px; border-style: solid;">
                </a>
                <a class="li" href="https://www.linkedin.com/company/tocico?trk=nav_account_sub_nav_company_admin" target="_blank">
                    <img alt="" src="/graphics/linkedin-w.png" style="border-width: 0px; border-style: solid;">
                </a>
                <a class="tw" href="https://twitter.com/TOCICO" target="_blank">
                    <img alt="" src="/graphics/twitter-w.png" style="border-width: 0px; border-style: solid;">
                </a>
            </span>
        </div>
        <div id="FooterContentArea">
            <div class="container">
                <!--YMPSTITLE=TgBBAA==/YMPSTITLE--><span style="background-color: #ffffff00;">
                    <style>
                        #copyright-inner {
                            padding-left: 0px !important;
                            margin-right: 0px;
                            margin-top: 0px;
                            text-align: center;
                        }

                        #icopyright {
                            width: 100% !important;
                        }
                        <!-- .mainmenu-out {
                            padding-left: 8%;
                        }
                        -->
                        .foot-copy {
                        }
                    </style>
                </span>
                <div id="footer">
                    <div id="foot-social">
                        <span>
                            <a class="fb" href="https://www.facebook.com/Theory-of-Constraints-International-Certification-Organization-98918483549/?ref=hl" target="_blank">
                                <img alt="" src="~/Content/Images/facebook-w.png" style="border-width: 0px; border-style: solid;">
                            </a>

                            <a class="li" href="https://www.linkedin.com/company/tocico?trk=nav_account_sub_nav_company_admin" target="_blank">

                                <img alt="" src="~/Content/Images/linkedin-w.png" style="border-width: 0px; border-style: solid;">
                            </a>

                            <a class="tw" href="https://twitter.com/TOCICO" target="_blank">

                                <img alt="" src="~/Content/Images/twitter-w.png" style="border-width: 0px; border-style: solid;">
                            </a>
                        </span>
                    </div>
                    <div class="foot-copy">
                        <div class="footer_text">
                            Copyright © 2018 TOCICO. All rights reserved.<br>
                            Theory of Constraints International Certification Organization<br>
                            230 Washington Avenue Extension, Suite 101<br>
                            Albany, New York 12203-5319&nbsp; USA<br>
                            Ph: +1 (518) 694-8478<br>
                            Fax: +1 (518) 463-8656<br>
                            admin@tocico.org<br>
                        </div>
                    </div>
                </div>
            </div>
            <div id="icopyright">
                <div id="copyright-inner" class="text-center">
                    <a href="/ams/legal-privacy.htm" class="">Legal</a><!-- Copyright (c) 1998-2019 YourMembership.com Inc. All Rights Reserved. Copyright: Certain elements of this website are: Copyright (c) 1998-2019, YourMembership.com, Incorporated. YourMembership.com, Incorporated provides a limited license to use its Copyrights to the entity from whose web page you are viewing. Certain elements of this website may also be copyrighted by that entity; please see its Terms of Use or contact the organization for more information. General information about copyright laws can be found at: http://www.copyright.gov/. For more specific information, please consult an attorney. -->
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script>
        Highcharts.chart('container', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: 0,
                plotShadow: false
            },
            title: {
                text: 'Total<br>10<br>Steps',
                align: 'center',
                verticalAlign: 'middle',
                y: 40
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    dataLabels: {
                        enabled: false,
                        distance: -50,
                        style: {
                            fontWeight: 'bold',
                            color: 'white',
                            textShadow: '0px 1px 2px black'
                        }
                    },

                    center: ['50%', '50%']
                }
            },
            series: [{
                type: 'pie',
                name: 'Browser share',
                innerSize: '50%',
                data: [{
                    type: "doughnut",
                    innerRadius: 80,
                    startAngle: 60,
                    dataPoints: [
                        { y: @stepsRemaining, color: "red" },
                        { y: @Model.SetpsCompleted, color: "green" }
                    ]
                }]
            });
            chart.render();
        }
    </script>
    
</body>

</html>