@model AlexRogoBeltApp.ViewModel.ProductViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TOCICO</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
    <link href="~/Content/style.admin.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/Memberstyle.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/responsive.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>


    <script>
        //method to get memberRecord onblur event of textbox
        function GetMemberData() {

            debugger;

            //clear all error messages
            $('#AdminPassword').val("");
            $('#ErrorInvalidPwd').text("");
            $('#ErrorNotFound').text("");
            $('#ErrorRequired').text("");
            $('#success').text("");

            if (!document.getElementById("txtMemberId").checkValidity()) {
                $('#ErrorRequired').text("Member id is required");
                document.getElementById("mtable").style.display = "none";
                document.getElementById("mchekboxes").style.display = "none";
                document.getElementById("updateMember").style.display = "none";
                document.getElementById("updatePayment").style.display = "none";
                document.getElementById("adminPassword").style.display = "none";
                document.getElementById("UpdateDatalbl").style.display = "none";

                return;
            }

            $.post("/Questionnaire/PaymentUpdate", { MId: $('#txtMemberId').val() }, function (data) {
                debugger;


                $('#IsYBpaymentCompleted').attr('checked', data.IsYBpaymentCompleted);
                $('#IsGBpaymentCompleted').attr('checked', data.IsGBpaymentCompleted);
                $('#IsBBpaymentCompleted').attr('checked', data.IsBBpaymentCompleted);
                $('#IsTOIpaymentCompleted').attr('checked', data.IsTOIpaymentCompleted);
                $('#Name').text(data.Name);
                $('#Email').text(data.Email);
                $('#Company').text(data.Company);
                if (data.Error != null) {
                    $('#ErrorNotFound').text(data.Error);
                }




                if (data.MemberID == txtMemberId.value) {
                    document.getElementById("mtable").style.display = "block";
                    document.getElementById("mchekboxes").style.display = "block";
                    document.getElementById("updateMember").style.display = "none";
                    document.getElementById("updatePayment").style.display = "none";
                    document.getElementById("adminPassword").style.display = "none";
                    document.getElementById("UpdateDatalbl").style.display = "none";




                }
                else {
                    document.getElementById("mtable").style.display = "none";
                    document.getElementById("mchekboxes").style.display = "none";
                    document.getElementById("updatePayment").style.display = "none";
                    document.getElementById("updateMember").style.display = "block";
                    document.getElementById("adminPassword").style.display = "block";
                    document.getElementById("UpdateDatalbl").style.display = "block";




                }


            });
        }

        //method to update data when member is valid *******Priyank 19 July 2019
        function postModel() {
            debugger;
            var model = {
                Name: $('#Name').text(),
                Email: $('#Email').text(),
                Company: $('#Company').text(),
                IsYBpaymentCompleted: $('#IsYBpaymentCompleted').is(":checked"),
                IsGBpaymentCompleted: $('#IsGBpaymentCompleted').is(":checked"),
                IsBBpaymentCompleted: $('#IsBBpaymentCompleted').is(":checked"),
                IsTOIpaymentCompleted: $('#IsTOIpaymentCompleted').is(":checked"),
                MemberId: $('#txtMemberId').val(),
                AdminPassword: $('#AdminPassword').val()
            };

            $.ajax({

                type: "POST",
                url: "/Questionnaire/ConfirmPayment",
                data: JSON.stringify(model),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    debugger;
                    if (response.Success != null) {
                        $('#success').text(response.Success);
                        document.getElementById("mtable").style.display = "none";
                        document.getElementById("mchekboxes").style.display = "none";
                        document.getElementById("updatePayment").style.display = "none";
                        document.getElementById("updateMember").style.display = "none";
                        document.getElementById("adminPassword").style.display = "none";
                    }
                    else {
                        $('#ErrorInvalidPwd').text(response.Error);
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        //method to update data when member not found *****sadhana 22 july2019
        function PostData() {
            debugger;

            var url = "/Questionnaire/LoadMemebrGUID";

            $.ajax({
                url: url,
                data: "id=" + AdminPassword.value,
                cache: false,
                type: "POST",
                dataType: "json",
                success: function (response) {
                    debugger;
                    if (response.Success != null) {
                        $('#success').text(response.Success);
                        document.getElementById("mtable").style.display = "none";
                        document.getElementById("mchekboxes").style.display = "none";
                        document.getElementById("updatePayment").style.display = "none";
                        document.getElementById("updateMember").style.display = "none";
                        document.getElementById("adminPassword").style.display = "none";
                        document.getElementById("UpdateDatalbl").style.display = "none";
                        document.getElementById("ErrorNotFound").style.display = "none";


                    }
                    else {
                        $('#ErrorInvalidPwd').text(response.Error);
                    }

                },
                failure: function (response) {
                    //alert(response.responseText);
                },
                error: function (response) {
                    debugger;
                    $('#ErrorInvalidPwd').text(response.Error);
                    debugger;
                }

            });
        }

        //Method to show admin textbox on blur event of checkboxes
        function OnchangeEventCheckBox() {
            debugger;
            document.getElementById("adminPassword").style.display = "block";
            document.getElementById("updatePayment").style.display = "block";
        }
    </script>

</head>
<body>

    <!-- Side Navbar -->
    <nav class="side-navbar">
        <div class="side-navbar-wrapper">
            <!-- Sidebar Header    -->
            @*<div class="sidenav-header d-flex align-items-center justify-content-center">

                    <div class="sidenav-header-inner text-center">
                        <img src="img/avatar-7.jpg" alt="person" class="img-fluid rounded-circle">
                        <h2 class="h5">Nathan Andrews</h2><span>Web Developer</span>
                    </div>

                    <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>B</strong><strong class="text-primary">D</strong></a></div>
                </div>*@
            <!-- Sidebar Navigation Menus-->
            <div class="main-menu">
                <ul id="side-main-menu" class="side-menu list-unstyled">
                    @*<li><a href="index.html"> <i class="fa fa-tachometer-alt"></i>Home</a></li>*@
                    <li><a href=@Url.Action("PaymentUpdate", "Questionnaire")> <i class="fa fa-tachometer-alt"></i>Payment</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="page">
        <!-- navbar-->
        <header class="headers">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <div class="navbar-header">
                            <a id="toggle-btn" href="#" class="menu-btn"><i class="fa fa-bars"> </i></a><a href="index.html" class="navbar-brand">
                                <div class="brand-text head_brand d-none d-md-inline-block">
                                    <img src="~/Content/Images/logo-dashboard.png" alt="logo" />
                                    @*<img src="~/Content/Images/logo.png" alt="logo" />*@
                                </div>
                            </a>
                        </div>
                        
                        <ul class="hnav_menu">
                            <li class="nav-item">
                                <a href="login.html" class="nav-link logout">
                                    <i class="fa fa-user"></i>
                                    <span class=""> @ViewBag.UserName</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="" href="@Url.Action("Login", "Questionnaire")">
                                    <i class="fa fa-power-off"></i> <span class=""> Logout</span>
                                </a>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </nav>
        </header>
        
        <div class="dashboard_area">
            <div class="">
                <div class="row" style="margin-bottom:20px;">
                    <div class="col-lg-2 col-md-2 col-sm-12 fi_label">
                        Member ID:
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        @Html.TextBoxFor(model => model.MemberID, new { onblur = "GetMemberData()", @class = "form-control", @id = "txtMemberId", required = "required", minlength = "7", maxlength = "8" })

                        <span id="ErrorRequired" style="color:#ff0000; font-size:12px;"></span>
                        <span id="ErrorNotFound" style="color:#ff0000; font-size:12px;"></span>
                        <span id="success"></span>
                    </div>
                </div>
                <div></div>

                <div class="row" style="margin-bottom:20px;" id="mtable">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Company</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span id="Name"></span>
                                        </td>
                                        <td>
                                            <span id="Email"></span>
                                        </td>
                                        <td>
                                            <span id="Company"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom:20px;" id="mchekboxes">
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="check_tile">
                            <label class="control control-checkbox">
                                Yellow Belt
                                @Html.CheckBoxFor(model => model.IsYBpaymentCompleted, new { onchange = "OnchangeEventCheckBox()" })
                                <div class="control_indicator"></div>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="check_tile">
                            <label class="control control-checkbox">
                                Green Belt
                                @Html.CheckBoxFor(model => model.IsGBpaymentCompleted, new { onchange = "OnchangeEventCheckBox()" })
                                <div class="control_indicator"></div>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="check_tile">
                            <label class="control control-checkbox">
                                Black Belt
                                @Html.CheckBoxFor(model => model.IsBBpaymentCompleted, new { onchange = "OnchangeEventCheckBox()" })
                                <div class="control_indicator"></div>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="check_tile">
                            <label class="control control-checkbox">
                                TOC Expert
                                @Html.CheckBoxFor(model => model.IsTOIpaymentCompleted, new { onchange = "OnchangeEventCheckBox()" })
                                <div class="control_indicator"></div>
                            </label>
                        </div>
                    </div>
                </div>
                <hr style="margin:50px 0;" />

                <div class="heading" id="UpdateDatalbl">
                    <div class="section_head">
                        Update Member Data
                    </div>
                </div>
                <div class="row" style="margin-top:0px;" id="adminPassword">



                    <div class="col-lg-2 col-md-2 col-sm-12 fi_label">
                        Admin Password:
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 pass_field">
                        <div>
                            @Html.PasswordFor(model => model.AdminPassword, new { @class = "form-control", required = "required", })
                            <span id="ErrorInvalidPwd" style="color:#ff0000; font-size:12px;"></span>

                            @Html.ValidationMessageFor(model => model.Error, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                <div class="row" style="margin-top:40px;">
                    <div class="col-lg-2 col-md-2 col-sm-12 fi_label">

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <input type="submit" value="Update Payment" id="updatePayment" class="btn btn-primary btn-sm payment_p" onclick="postModel()" />
                        <input type="submit" value="Update" id="updateMember" class="btn btn-primary btn-sm payment_p" onclick="PostData()" />
                    </div>


                    @*<div class="pass_error" id="ErrorInvalidPwd"></div>*@

                </div>

            </div>
        </div>


        
        
        
       

        <footer class="main-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">

                    </div>
                    <div class="col-sm-6 text-right">
                        <p>TOCICO &copy; 2017-2019</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- New dashboard End-->
    @*Textbox for input Member Id*@








    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!-- JavaScript files-->
    <script src="~/Content/js/jquery/jquery.min.js"></script>
    <script src="~/Content/js/popper.js/umd/popper.min.js"></script>
    <script src="~/Content/js/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- Main File-->
    <script src="~/Content/js/front.js"></script>
</body>
</html>
