@model AlexRogoBeltApp.ViewModel.QuestionViewModel

@{
    /**/

    ViewBag.Title = "Yellow Belt";
}

@*<script>
        $(document).ready(function () {
            $('#saveButton').click(function () {
                debugger;
                $(this).prop("disabled", true);
                if (!$('form').valid()) {
                    $(this).prop("disabled", false);
                    return false;0
                }
                $('form').submit();
            });
        });
    </script>*@


@{ Html.EnableClientValidation(true); }
@{ Html.EnableUnobtrusiveJavaScript(); }
@using (Html.BeginForm())
{
    @*@Html.AntiForgeryToken()*@

    <script>
        var dateData = new Date;
        var nyeardata = dateData.getFullYear();
        window.onload = function getYear() {
            document.getElementById('nyear').innerHTML = nyeardata;
        };
    </script>

    <div style="background:#ffffff;">

        <div class="toolbar-out">
            <div class="container">
                <div id="itoolbar_bg">
                    <div id="itoolbar" class="col-md-12  text-right">

                        <a href="@Url.Action("Logout", "Questionnaire", new { MemberId = Request.QueryString["MemberId"] })">Sign Out</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="header-out">
            <div class="container">
                <div class="header">
                    <script type="text/javascript">
                        WebFontConfig = {
                            google: { families: ['Open+Sans:400,300,600,700,800:latin', 'Roboto+Condensed:400,300,700:latin'] }
                        };
                        (function () {
                            var wf = document.createElement('script');
                            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
                            wf.type = 'text/javascript';
                            wf.async = 'true';
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(wf, s);
                        })();</script>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <a class="logo" href="/" target="_parent" style="color:#000;">
                                <img src="~/Content/Images/TOCICOBannerLogoGoldHorizontal.gif" />
                            </a>
                            <i class="head_sub_new">"Bringing People and TOC Knowledge Together Globally"</i>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div id="social">
                                <a class="fb" href="https://www.facebook.com/Theory-of-Constraints-International-Certification-Organization-98918483549/?ref=hl" target="_blank"><img border="0" src="~/Content/Images/facebook.png"></a>
                                <a class="li" href="https://www.linkedin.com/company/tocico?trk=nav_account_sub_nav_company_admin" target="_blank"><img border="0" src="~/Content/Images/linkedin.png"></a>
                                <a class="tw" href="https://twitter.com/TOCICO" target="_blank"><img border="0" src="~/Content/Images/twitter.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="header-out">
                <div class="container">
                    <div id="header">
                        <script type="text/javascript">
                            WebFontConfig = {
                                google: { families: ['Open+Sans:400,300,600,700,800:latin', 'Roboto+Condensed:400,300,700:latin'] }
                            };
                            (function () {
                                var wf = document.createElement('script');
                                wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
                                wf.type = 'text/javascript';
                                wf.async = 'true';
                                var s = document.getElementsByTagName('script')[0];
                                s.parentNode.insertBefore(wf, s);
                            })();</script>

                        <a class="logo" href="/" target="_parent" style="color:#000; float:left">
                            <img src="~/Content/Images/TOCICOBannerLogoGoldHorizontal.gif" />
                        </a>
                        <i class="head-sub">"Bringing People and TOC Knowledge Together Globally"</i>



                        <div id="social">
                            <a class="fb" href="https://www.facebook.com/Theory-of-Constraints-International-Certification-Organization-98918483549/?ref=hl" target="_blank"><img border="0" src="~/Content/Images/facebook.png"></a>
                            <a class="li" href="https://www.linkedin.com/company/tocico?trk=nav_account_sub_nav_company_admin" target="_blank"><img border="0" src="~/Content/Images/linkedin.png"></a>
                            <a class="tw" href="https://twitter.com/TOCICO" target="_blank"><img border="0" src="~/Content/Images/twitter.png"></a>
                        </div>


                    </div>
                </div>
            </div>*@

    </div>
    <div class="step-page">
        <div class="text-center " style="padding:15px;">The Alex Rogo Levels</div>
    </div>
    <div class="container">

        <div class="box-wrapper" style=" background-image: linear-gradient(to top,#ace0f9  0%,  #fff1eb 100%);">

            <div class="question-area">
                <div class="progress_bar">
                    <div class="w3-red">
                        @{
                            int stepsRemaining = Model.TotalSetps - Model.SetpsCompleted;
                            double wd = 100 / Model.TotalSetps;

                            if (Model.SetpsCompleted > 1)
                            {
                                wd = wd * Model.SetpsCompleted - 1;
                            }
                            double left = (100 - wd) / 2 + wd;

                            double wdGreen = wd / 2;
                            if (stepsRemaining != 0)
                            {
                                <div class="w3-container w3-green w3-center" style="width:@wd%">@Model.SetpsCompleted <span class="popover2 lower">Step</span></div>
                            }
                            else
                            {
                                
                                <div class="w3-container w3-green w3-center" style="width:100%">@Model.SetpsCompleted step</div>

                            }


                            if (stepsRemaining != 0)
                            {
                                <div class="ml_remain_progress" style="position: absolute; top:-2px; left:@left%;"> @stepsRemaining <span class="popover above">Step</span></div>
                            }
                        }
                    </div>
                </div>

                @Html.Partial("~/Views/YellowBelt/" + Model.ViewName, Model)
            </div>

            <footer>

                <div class="questionintro">
                    <a id="btnBack" href="@Url.Action("Questions", "Questionnaire", new { QuestionOrder = Model.QuestionOrder })" class="mt-2 btn btn-primary btn-lg ">
                        < Back
                    </a>

                    <input type="submit" id="btnSubmit" style="display:block" value="Next >" class="mt-2 btn btn-success btn-lg pull-right " />
                    <input type="submit" id="btnSubmitProcess" style="display:none" onclick="submitBusinessProcess()" value="Next >" class="mt-2 btn btn-success btn-lg pull-right " />
                    <input type="submit" id="btnSubmitMarketProcess" style="display:none" onclick="submitMarketStep()" value="Next >" class="mt-2 btn btn-success btn-lg pull-right " />
                </div>
                @*<div class="footer-copyright">
                        <img src="~/Content/Images/logo_black.png" />
                        <div class="steps-footer">
                            &copy; 2019 TOCICO. All Rights Reserved.
                        </div>
                    </div>*@
            </footer>
        </div>
    </div>


    <div id="footer">
        <div id="foot-social">
            <span>
                <a class="fb" href="https://www.facebook.com/Theory-of-Constraints-International-Certification-Organization-98918483549/?ref=hl" target="_blank">
                    <img alt="" src="/graphics/facebook-w.png" style="border-width: 0px; border-style: solid;">
                </a>
                <a class="li" href="https://www.linkedin.com/company/tocico?trk=nav_account_sub_nav_company_admin" target="_blank">
                    <img alt="" src="/graphics/linkedin-w.png" style="border-width: 0px; border-style: solid;">
                </a>
                <a class="tw" href="https://twitter.com/TOCICO" target="_blank">
                    <img alt="" src="/graphics/twitter-w.png" style="border-width: 0px; border-style: solid;">
                </a>
            </span>
        </div>
        <div id="FooterContentArea">
            <div class="container">
                <!--YMPSTITLE=TgBBAA==/YMPSTITLE--><span style="background-color: #ffffff00;">
                    <style>
                        #copyright-inner {
                            padding-left: 0px !important;
                            margin-right: 0px;
                            margin-top: 0px;
                        }

                        #icopyright {
                            width: 100% !important;
                        }
                        <!-- .mainmenu-out {
                            padding-left: 8%;
                        }
                        -->
                        .foot-copy {
                        }
                    </style>
                </span>
                <div id="footer">
                    <div id="foot-social">
                        <span>
                            <a class="fb" href="https://www.facebook.com/Theory-of-Constraints-International-Certification-Organization-98918483549/?ref=hl" target="_blank">
                                <img alt="" src="~/Content/Images/facebook-w.png" style="border-width: 0px; border-style: solid;">
                            </a>

                            <a class="li" href="https://www.linkedin.com/company/tocico?trk=nav_account_sub_nav_company_admin" target="_blank">

                                <img alt="" src="~/Content/Images/linkedin-w.png" style="border-width: 0px; border-style: solid;">
                            </a>

                            <a class="tw" href="https://twitter.com/TOCICO" target="_blank">

                                <img alt="" src="~/Content/Images/twitter-w.png" style="border-width: 0px; border-style: solid;">
                            </a>
                        </span>
                    </div>
                    <div class="foot-copy">
                        <div class="footer_text">
                            Copyright © <span id=""></span> TOCICO. All rights reserved.<br>
                            Theory of Constraints International Certification Organization<br>
                            230 Washington Avenue Extension, Suite 101<br>
                            Albany, New York 12203-5319&nbsp; USA<br>
                            Ph: +1 (518) 694-8478<br>
                            Fax: +1 (518) 463-8656<br>
                            admin@tocico.org<br>
                        </div>
                    </div>
                </div>
            </div>
            <div id="icopyright">
                <div id="copyright-inner" class="text-center">
                    <a href="/ams/legal-privacy.htm" class="">Legal</a><!-- Copyright (c) 1998-2019 YourMembership.com Inc. All Rights Reserved. Copyright: Certain elements of this website are: Copyright (c) 1998-2019, YourMembership.com, Incorporated. YourMembership.com, Incorporated provides a limited license to use its Copyrights to the entity from whose web page you are viewing. Certain elements of this website may also be copyrighted by that entity; please see its Terms of Use or contact the organization for more information. General information about copyright laws can be found at: http://www.copyright.gov/. For more specific information, please consult an attorney. -->
                </div>
            </div>
        </div>
    </div>
}